name: Nightly
on:
  schedule:
    # Runs at 00:01 every day
    - cron: '1 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-tag:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: '0'
    - name: Setup tag pattern
      run: |
        DATE_TAG="$( date -u '+%Y.%m.%d' )"
        VERSION_PREFIX="v"
        VERSION_TAG="${VERSION_PREFIX}${DATE_TAG}"
        echo "Version: $VERSION_TAG"
        echo "VERSION_TAG=$VERSION_TAG" >> $GITHUB_ENV
    - name: List tags
      run: |
        git tag --list "$VERSION_TAG.*" --sort=-version:refname | head -n 1
    # - name: Generate Git Tag
    #   id: generate_tag
    #   run: |
    #     VERSION_PATCH=$(git tag --list "${VERSION_PREFIX}${VERSION_PATTERN}.*" --sort=-version:refname | head -n 1 | grep -oE '[0-9]+$')

    #     echo "Latest patch version: $VERSION_PATCH"
    #     if [ -z "$VERSION_PATCH" ]; then
    #         VERSION_PATCH=0
    #     else
    #         VERSION_PATCH=$((VERSION_PATCH + 1))
    #     fi

    #     NEW_TAG="${VERSION_PREFIX}${VERSION_PATTERN}.${VERSION_PATCH}"
    #     echo "Generated new tag: $NEW_TAG"
    #     echo "NEW_TAG=$NEW_TAG" >> $GITHUB_ENV
    # - name: Push Git Tag
    #   run: |
    #     git config user.name "GitHub Actions"
    #     git config user.email "github-actions@users.noreply.github.com"
    #     git tag $NEW_TAG
    #     git push origin $NEW_TAG
